@{
    ViewData["Title"] = "Home";
}

<div class="header-large-title">
    <h1 class="title">@ViewData["Title"]</h1>
    <h4 class="subtitle">Bem-vindo a Lunai!</h4>
</div>

<div class="section mt-3">
    <div class="row justify-content-center">
       
        <div class="col-sm-3 p-1">
            <div class="card">
                <img src="~/imgs/medico.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Atendimento Especializado</h5>
                    <p class="card-text">
                        Profissionais da saúde próximos!
                    </p>
                    <a href="app-components.html" class="btn btn-primary">
                        <ion-icon name="search-outline"></ion-icon>
                        Pesquisar
                    </a>
                </div>
            </div>
        </div>

        
        <div class="col-sm-3 p-1">
            <div class="card">
                <img src="~/imgs/hospital.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Hospitais</h5>
                    <p class="card-text">
                        Hospitais publicos e privados próximos!
                    </p>
                    <a href="app-components.html" class="btn btn-primary">
                        <ion-icon name="search-outline"></ion-icon>
                        Pesquisar
                    </a>
                </div>
            </div>
        </div>

       

        <div class="col-sm-3 p-1">
            <div class="card">
                <img src="~/imgs/vacinacao.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Vacinação</h5>
                    <p class="card-text">
                        Onde e quando me vacinar?
                    </p>
                    <a href="app-components.html" class="btn btn-primary">
                        <ion-icon name="search-outline"></ion-icon>
                        Me mostre
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>